supersuit==3.7.0
tf2onnx==1.12.1
timm==0.4.5
torch-cluster==1.6.0+pt113cu116
torch-geometric==2.1.0
torch-scatter==2.1.0+pt113cu116
torch-sparse==0.6.15+pt113cu116
torch-spline-conv==1.2.1+pt113cu116
torchaudio==0.13.0
transformers==4.23.1
tune-sklearn==0.4.4
typer==0.7.0
uvicorn==0.21.1
wandb==0.13.4
zoopt==0.4.1
